<template>
    <v-app id="inspire" class="mdm">
        <v-main>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="12"
                            md="8"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>وارد کردن کد احراز هویت</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form @submit.prevent="sendCode">
                                    <v-text-field
                                            label="کد ارسالی را وارد کنید"
                                            name="code"
                                            prepend-icon="mdi-message-processing"
                                            type="text"
                                            class="my-5"
                                            v-model="code"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="primary" block="true" @click="sendCode">ورود</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "code",
        data() {
            return {
                code: ''
            }
        },
        methods: {
            async sendCode() {
                let result = await this.$axios.$post('login', {
                    username: this.$route.params.username,
                    code: this.code
                });
                localStorage.setItem('token',result.token);
                this.$axios.setToken(result.token);
                this.$store.commit('auth/setToken', result.token);
                this.$store.commit('auth/setUserData', result.user);
                this.$router.push('/');
                this.$notifier.showMessage({ content: 'شما با موفقیت وارد شدید', color: 'success' })
            }
        }

    }
</script>

<style scoped>

</style>
