<template>
    <v-container>
        <v-card class="mt-3">
            <v-card-title>
                لیست فایل های درس
                {{data.title}}
            </v-card-title>
            <v-card-text>
                <v-card :hover="true" v-for="file in data.files" :to="`/files/${file.id}`" :key="file.id"
                        class="ma-3 d-flex justify-space-between px-3">
                    <div class="flex-column">
                        <v-card-title>
                            {{file.title}}
                        </v-card-title>
                    </div>
                    <v-card-actions>
                        <v-icon
                                :large="true"
                                :size="500">
                            mdi-motion-play
                        </v-icon>
                    </v-card-actions>
                </v-card>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                data: {
                    title: '',
                    files: [
                        {title: ''}
                    ]
                }
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.$loadingIndicator.show();
                this.data = await this.$axios.$get(`get-lesson-details/${this.$route.params.id}`);
                this.$loadingIndicator.hide();
            }
        }
    }
</script>

<style scoped>

</style>
