<template>
    <v-container>
        <v-card>
            <v-row>
                <v-col cols="4">
                    <v-img class="mx-1" :src="data.pic"></v-img>
                </v-col>
                <v-col cols="8">
                    <div>
                        <div>
                            {{data.description | stripHtml}}
                        </div>
<!--                        <div>-->
<!--                            <v-chip-->
<!--                                    class="ma-2"-->
<!--                                    color="primary"-->
<!--                                    text-color="white"-->
<!--                            >-->
<!--                                <v-icon class="ml-2" right>mdi-cash-lock</v-icon>-->
<!--                                قیمت این دوره:-->
<!--                                {{data.price}} تومان-->
<!--                            </v-chip>-->
<!--                        </div>-->
                    </div>
                </v-col>
            </v-row>
        </v-card>
        <v-card class="mt-3">
            <v-card-title>
                لیست دروس
            </v-card-title>
            <v-card-text>
                <v-card :hover="true" v-for="lesson in data.lessons" :to="`/lessons/${lesson.id}`" :key="lesson.id"
                        class="ma-3 d-flex justify-space-between px-3">
                    <div class="flex-column">
                        <v-card-title>
                            {{lesson.title}}
                        </v-card-title>
                        <v-card-subtitle>
                            {{lesson.description | stripHtml}}
                        </v-card-subtitle>
                    </div>
                    <v-card-actions>

                        <v-icon
                                :large="true"
                                :size="500">
                            mdi-animation
                        </v-icon>

                    </v-card-actions>
                </v-card>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                data: {
                    pic: '',
                    description: '',
                    price: '',
                    lessons: [{
                            title: '',
                            description: ''
                        }]
                    }
                }
            },
        created() {
            this.fetchData()
        },
        methods: {
            async fetchData() {
                this.$loadingIndicator.show();
                this.data = await this.$axios.$get(`get-course-details/${this.$route.params.id}`);
                this.$loadingIndicator.hide();
            }
        }
    }
</script>

<style scoped>


</style>
