<template>
    <v-app id="inspire" class="mdm">
        <v-main>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="12"
                            md="8"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>ورود به اپلیکیشن اقیانوس آبی</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form @submit.prevent="sendPhoneNumber">
                                    <v-text-field
                                            label="شماره موبایل خود را وارد کنید"
                                            name="username"
                                            prepend-icon="mdi-phone"
                                            type="text"
                                            class="my-5"
                                            v-model="phone"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="primary" block="true" @click="sendPhoneNumber">ورود</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                phone: ''
            }
        },
        methods: {
            async sendPhoneNumber() {
                this.$notifier.showMessage({ content: 'کد احراز هویت برای شما پیامک شد', color: 'info' });
                let result = await this.$axios.$post('login', {
                    username: this.phone
                });
                if (result === 'new') {
                    this.$router.push('/sign-up/' + this.phone);
                } else if (result === 1) {
                    this.$router.push(`/login/code/${this.phone}`);
                }
            }
        }
    }
</script>

<style scoped>

</style>
