<template>
    <v-app id="inspire" class="mdm">
        <v-main>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>عضویت در اپلیکیشن اقیانوس آبی</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            label="نام"
                                            name="name"
                                            prepend-icon="mdi-account"
                                            type="text"
                                    ></v-text-field>
                                    <v-text-field
                                            label="کد معرف"
                                            name="ref_code"
                                            prepend-icon="mdi-account"
                                            type="text"
                                    ></v-text-field>


                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>
