<template>
    <v-container>
        <v-card>
            <v-card-title>
                {{data.title}}
            </v-card-title>
            <v-card-text>
                <vue-plyr>
                    <video :src="data.file_url" autoplay="true" disableContextMenu="true"></video>
                </vue-plyr>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                data: {}
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.$loadingIndicator.show();
                this.data = await this.$axios.$get(`get-file-details/${this.$route.params.id}`);
                this.$loadingIndicator.hide();
                if (this.data.result === 'failed') {
                    this.$notifier.showMessage({
                        content: 'برای تماشای ویدیوها باید وارد حساب کاربری تان شوید',
                        color: 'error'
                    });
                    this.$router.push('/login')
                }
            }
        }
    }
</script>

<style scoped>

</style>
