@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam.eot');
    src: url('../fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam/Shabnam.woff2') format('woff2'),
    url('../fonts/shabnam/Shabnam.woff') format('woff'),
    url('../fonts/shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Bold.eot');
    src: url('../fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),
    url('../fonts/shabnam/Shabnam-Bold.woff') format('woff'),
    url('../fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Thin.eot');
    src: url('../fonts/shabnam/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam/Shabnam-Thin.woff2') format('woff2'),
    url('../fonts/shabnam/Shabnam-Thin.woff') format('woff'),
    url('../fonts/shabnam/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Light.eot');
    src: url('../fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam/Shabnam-Light.woff2') format('woff2'),
    url('../fonts/shabnam/Shabnam-Light.woff') format('woff'),
    url('../fonts/shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Medium.eot');
    src: url('../fonts/shabnam/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam/Shabnam-Medium.woff2') format('woff2'),
    url('../fonts/shabnam/Shabnam-Medium.woff') format('woff'),
    url('../fonts/shabnam/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
}

/*vue carousel*/
[dir=rtl] .VueCarousel-wrapper, [dir=rtl] .VueCarousel-dot-container {
    direction: ltr;
}

[dir=rtl] .VueCarousel-slide {
    direction: rtl;
}

/*begin style*/
body .mdm {
    font-family: Shabnam, serif;
}

a {
    text-decoration: none;
}

.v-btn__content {
    color: #fff;
}

.v-toolbar__title {
    color: white;
}

.v-card__text .v-card__title {
    font-size: 1rem;
}

.sticky-footer {
    position: fixed !important;
    bottom: 0 !important;
}

.sticky-snackbar {
    position: fixed !important;
    bottom: 20px !important;
}

.mdm-slider {
    max-height: 300px;
    max-width: 100%;
}
