<template>
    <v-app id="inspire" class="mdm">
        <v-main>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>عضویت در اپلیکیشن اقیانوس آبی</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form @submit.prevent="sendData">
                                    <v-text-field
                                            label="شماره تلفن"
                                            name="name"
                                            prepend-icon="mdi-phone"
                                            type="text"
                                            :value="$route.params.id"
                                            disabled="true"
                                    ></v-text-field>
                                    <v-text-field
                                            label="کد ارسالی"
                                            name="code"
                                            prepend-icon="mdi-message-processing"
                                            type="text"
                                            v-model="code"
                                    ></v-text-field>
                                    <v-text-field
                                            label="نام و نام خانوادگی"
                                            name="name"
                                            prepend-icon="mdi-account"
                                            type="text"
                                            v-model="name"
                                    ></v-text-field>
                                    <v-text-field
                                            label="کد معرف"
                                            name="ref_code"
                                            prepend-icon="mdi-account"
                                            type="text"
                                            v-model="ref_code"
                                    ></v-text-field>


                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" block="true" @click="sendData">عضویت</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                name: '',
                code: '',
                ref_code: ''
            }
        },
        methods: {
            async sendData() {
                let result = await this.$axios.$post('login', {
                    username: this.$route.params.id,
                    name: this.name,
                    code: this.code,
                    ref_code: this.ref_code
                });
                if (result === 'new') {
                    this.$router.push('/sign-up/' + this.$route.params.id);
                } else if (result === 1) {
                    this.$router.push('/login/code');
                } else {
                    localStorage.setItem('token',result.token);
                    this.$axios.setToken(result.token);
                    this.$store.commit('auth/setToken', result.token);
                    this.$store.commit('auth/setUserData', result.user);
                    this.$router.push('/');
                    this.$notifier.showMessage({ content: 'شما با موفقیت وارد شدید', color: 'success' })
                }
            }
        }
    }
</script>

<style scoped>

</style>
