<template>
    <v-card
            class="mt-3 mx-auto"
    >
        <v-card-title>
            جدیدترین دوره های آموزشی
        </v-card-title>
        <v-card-text>
            <carousel
                    :perPageCustom="[[0, 1], [960, 2],[1264, 3],[1904, 6]]"
                    autoplay="true"
                    centerMode="true"
                    loop="true"
                    >
                <slide v-for="course in courses"
                       :key="course.id">
                    <v-card
                            class="ma-3"
                            max-width="400">
                        <nuxt-link :to="`/courses/${course.id}`">
                            <v-img
                                    class="white--text align-end"
                                    height="200px"
                                    :src="course.pic">
                            </v-img>
                        </nuxt-link>
                        <nuxt-link :to="`/courses/${course.id}`">
                            <v-card-title color="primary">{{course.title}}</v-card-title>
                        </nuxt-link>
<!--                        <v-card-text class="text&#45;&#45;primary">-->
<!--&lt;!&ndash;                            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <v-chip&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="ma-2"&ndash;&gt;-->
<!--&lt;!&ndash;                                        color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;                                        text-color="white">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <v-icon class="ml-2" right>mdi-cash-lock</v-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                                    {{course.price}} تومان&ndash;&gt;-->
<!--&lt;!&ndash;                                </v-chip>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </v-card-text>-->
                        <v-card-actions>
                            <v-btn :to="`/courses/${course.id}`" color="primary" block="true">
                                <v-icon class="mx-2">mdi-eye</v-icon>
                                مشاهده
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </slide>
            </carousel>
        </v-card-text>
<!--        <v-card-actions>-->
<!--            <v-btn color="primary">-->
<!--                مشاهده همه دوره ها-->
<!--            </v-btn>-->
<!--            <v-spacer></v-spacer>-->
<!--        </v-card-actions>-->
    </v-card>
</template>

<script>
    export default {
        name: "Courses",
        props: ['courses']
    }
</script>

<style scoped>

</style>
