<template>
    <v-overlay :value="visibility">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
</template>

<script>
    export default {
        name: "LoadingIndicator",
        data() {
            return {
                visibility: false
            }
        },
        created() {
            this.$store.subscribe((mutation) => {
                this.visibility = mutation.type === 'loading/show';
            })
        }
    }
</script>

<style scoped>

</style>
