<template>
    <v-card
            class="my-3 mx-auto"
    >
        <v-card-title>
            جدیدترین پکیج های آموزشی
        </v-card-title>
        <v-card-text>
            <v-card
                    class="mx-auto"
                    max-width="400"
                    v-for="appPackage in packages"
                    :key="appPackage.id"
            >
                <v-img
                        class="white--text align-end"
                        height="200px"
                        :src="appPackage.pic"
                >

                </v-img>
                <nuxt-link :to="`/packages/${appPackage.id}`">
                    <v-card-title color="primary">{{appPackage.title}}</v-card-title>
                </nuxt-link>

                <!--                <v-card-text class="text&#45;&#45;primary">-->
                <!--                    <div>-->
                <!--                        <v-chip-->
                <!--                                class="ma-2"-->
                <!--                                color="primary"-->
                <!--                                text-color="white"-->
                <!--                        >-->
                <!--                            <v-icon class="ml-2" right>mdi-cash-lock</v-icon>-->
                <!--                            {{appPackage.price}} تومان-->
                <!--                        </v-chip>-->
                <!--                    </div>-->
                <!--                </v-card-text>-->

                <v-card-actions class="d-flex justify-space-around">
                    <v-btn
                            color="primary"
                            block="true"
                            :to="`/packages/${appPackage.id}`"
                    >
                        مشاهده
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-card-text>

<!--        <v-card-actions>-->
<!--            <v-btn-->
<!--                    color="primary"-->
<!--            >-->
<!--                مشاهده همه پکیج ها-->
<!--            </v-btn>-->
<!--            <v-spacer></v-spacer>-->
<!--        </v-card-actions>-->
    </v-card>
</template>

<script>
    export default {
        name: "Packages",
        props: ['packages']
    }
</script>

<style scoped>

</style>
