<template>
    <div class="mdm-slider">
        <v-carousel>
            <v-carousel-item
                    v-for="(slide, i) in sliders"
                    :key="i"
                    :src="slide.pic"
            >
            </v-carousel-item>
        </v-carousel>
    </div>
</template>

<script>
    export default {
        name: "Slider",
        props: ['sliders'],
    }
</script>

<style scoped>

</style>
