<template>
    <v-card
            class="mt-3 mx-auto"
    >
        <v-card-title>
            جدیدترین ویدیو های آموزشی
        </v-card-title>
        <v-card-text>
            <carousel
                    :perPageCustom="[[600, 2], [960, 3],[1264, 4],[1904, 6]]"
                    autoplay="true"
                    autoplay-hover-pause="true"

            >
                <slide v-for="file in files"
                       :key="file.id">
                    <v-card
                            class="ma-1"
                            max-width="400"
                            :to="`/files/${file.id}`"
                    >
                            <v-img
                                    class="white--text align-end"
                                    height="300px"
                                    :src="file.pic || '/images/no-image.jpg'"
                            >
                            </v-img>

                            <v-card-title color="primary">
                                {{ file.title.lenght > 20 ? file.title.slice(0,20) + ' ...' : file.title }}
                            </v-card-title>


                        <v-card-actions>
                            <v-btn
                                    color="primary"
                                    block="true"
                            >
                                مشاهده
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </slide>
            </carousel>
        </v-card-text>

        <v-card-actions>
            <v-btn
                    color="primary"
            >
                مشاهده همه ویدیو ها
            </v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "Videos",
        props: ['files']
    }
</script>

<style scoped>

</style>
