<template>
    <v-app class="mdm">
        <Snackbar></Snackbar>
        <LoadingIndicator></LoadingIndicator>
        <v-card>
            <v-toolbar color="primary">
                <nuxt-link to="/">
                    <v-toolbar-title>اقیانوس آبی</v-toolbar-title>
                </nuxt-link>
                <v-spacer></v-spacer>
                <v-btn v-if="!isAuth" to="/login">
                    ورود/عضویت
                </v-btn>
                <v-btn v-else>
                    پروفایل کاربری
                </v-btn>
            </v-toolbar>
        </v-card>
        <nuxt/>
        <!--        <BottomNavigation></BottomNavigation>-->
    </v-app>
</template>

<script>
    import Snackbar from '~/components/Snackbar.vue'
    import BottomNavigation from "../components/BottomNavigation";
    import LoadingIndicator from "../components/LoadingIndicator";

    export default {
        components: {LoadingIndicator, BottomNavigation, Snackbar},
        async created() {
            if (this.$store.state.auth.token === '') {
                const token = localStorage.getItem('token');
                if (token) {
                    const result = await this.$axios.$post('verify-token', {
                        token: token
                    });
                    if (result.message === 'valid token') {
                        this.$axios.setToken(token);
                        this.$store.commit('auth/setToken', token);
                        this.$store.commit('auth/setUserData', result.user);
                    }
                }
            }
        },
        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'];
            }
        }
    }
</script>
