<template>
    <div>
<!--        <slider :sliders='data.sliders'/>-->
        <!--        <videos :files="files"/>-->
        <courses :courses="data.courses"/>
        <packages :packages="data.packages"/>
    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue'
    import VuetifyLogo from '~/components/VuetifyLogo.vue'
    import Slider from "../components/Slider";
    import Packages from "../components/Packages";
    import Videos from "../components/Videos";
    import Courses from "../components/Courses";

    export default {
        head: {
            bodyAttrs: {
                dir: 'rtl'
            }
        },
        data() {
            return {
                data: ''
            }
        },
        components: {
            Courses,
            Videos,
            Packages,
            Slider,
            Logo,
            VuetifyLogo
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.$loadingIndicator.show();
                const data = await this.$axios.$get('main');
                this.data = data;
                this.$loadingIndicator.hide();
            }
        }
    }
</script>
